* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header CSS */
.header_wrapper {
    background-color: #fff;
    box-shadow: 3px 3px 14px 1px #ddd;
}

.header_content {
    width: 1150px;
    margin: 0 auto;
}

.navber {
    display: flex;
    padding: 32px 32px;
    align-items: center;
}

.logo {
    display: flex;
    margin-right: 300px;
}

.logo h2 {
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
}

.logo h2 span {
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #ff42a5;
    line-height: normal;
}
.logo h2 a {
    text-decoration: none;
    color: #000;
}
.follow_us{
    display: flex;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}
.header_icon{
    margin-left: 20px;
    display: flex;
}
.two_icon01 i{
    color: red;
}
.header_icon i{
    padding: 4px;
}
.menu_items {
    margin-right: 60px;
}

.menu_items ul {
    display: flex;
}

.menu_items ul li {
    list-style: none;
    margin-right: 25px;
}

.menu_items ul li a {
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


/* Banner Section CSS */
.banner_section_wrapper {
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner_content {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner_content .banner_left h2 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner_content .banner_left h1 {
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: #ff42a5;
}

.banner_content .banner_left ul li {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    list-style: none;
}

.banner_content .banner_left ul {
    margin-bottom: 30px;
}
.banner_content .banner_left ul li i{
    margin-right: 10px;
    padding: 5px;
}

.banner_content .banner_left .btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    background-color: #FF42A5;
    border-radius: 48px;
    margin-right: 10px;
    border: none;
}

.btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    background-color: #FF42A5;
    border-radius: 48px;
    margin-right: 10px;
    border: none;
}

.banner_content .banner_left .btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border: none;
    background: #4EC5F7;
    gap: 10px;
    border-radius: 48px;
}

.banner_content .banner_left button a {
    color: #FFF;
    font-family: Work Sans;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner_content .banner_right img {
    margin-left: 100px;
}

/* Under Banner CSS */
.under_banner_wrapper {
    margin-top: 100px;
}

.under_banner_content {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.ud_right h2 {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #F948B2;
    text-align: right;
}

.ud_right p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.ud_right button {
    margin-left: 60px;
}

.ud_right button a {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.ud_right h5 {
    text-align: right;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin-top: 20px;
}

.ud_right h4 {
    text-align: right;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Online Gamming Section CSS */
.online_game_wrapper {
    margin: 100px 100px;
}

.online_game_content {
    width: 1150px;
    margin: 0 auto;
}

.online_game_content h2 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 100px;
    padding-bottom: 10px;
}

.online_game_content p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.online_game_content h2 span {
    color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    ;
}


.image_item_wrapper {
    display: flex;
}

.image_item_wrapper p {
    padding-bottom: 40px !important;
}

.game_item {
    margin-top: 50px;
}

.image_item_wrapper .game_item img {
    max-width: 300px !important;
    padding: 10px;
}

.online_game_content h2 span {
    color: #8758F1;
}

.image_item_wrapper .game_item .img01 {
    margin-top: 31px;
}

.image_item_wrapper .game_item p {
    text-align: start;
    padding: 10px;
}

/* Play Section CSS */
.play_section_wrapper {
    background-color: #fff;
}

.play_content {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.play_content .play_left h3 {
    font-family: Work Sans;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.play_content .play_left h3 span {
    color: #F948B2;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.play_content .play_left h3 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.play_content .play_left p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play_content .play_right img {
    margin-left: 90px;
}

.play_content {
    position: relative;
}

.girl_image {
    position: absolute;
}

.play_content .girl_image img {
    margin-left: 275px;
    margin-top: 450px;
}

.careers_section_wrapper {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 150px;
}

.careers_content {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.careers_left h3 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 60px;
    line-height: 60px;
}

.careers_left p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.careers_left button {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: #FFF;
    margin-top: 20px;
    margin-bottom: 40px;
}

.careers_left button a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.two_section_list {
    display: flex;
    justify-content: safe;
}

.two_section_list .list_one {
    margin-right: 100px;
}

.two_section_list .list_one li {
    color: #FFF;
    font-family: Work Sans;
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.two_section_list .list_two li {
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    list-style: none;
}

.carrers_right img {
    max-width: 700px;
}

.img_title_wrapper {
    background-color: #f1f1f1;
}

.img_title_content {
    width: 1350px;
    margin: 0 auto;
}

.the_first_section {
    display: flex;
}

.the_first_section .it_items {
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-right: 40px;
    margin-top: 100px;
    transition: 0.3s;
}
.the_first_section .it_items:hover{
    border: 1px solid red;
    cursor: pointer;
}

.the_first_section .it_items img {
    padding: 5px;
}

.the_first_section .it_items h3 {
    margin-top: 20px;
    font-size: 17px;
}



.the_second_section {
    display: flex;
    margin-left: 100px;

}

.the_second_section .it_items {
    display: flex;
    margin-bottom: 100px;
    background-color: #ffffff;
    border-radius: 50px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    margin-right: 40px;
    margin-top: 30px;
}
.the_second_section .it_items:hover{
    border: 1px solid red;
    cursor: pointer;
}

.the_second_section .it_items img {
    padding: 5px;
}

.the_second_section .it_items h3 {
    margin-top: 20px;
    font-size: 17px;
}

/* Footer CSS */
.footer_wrapper {
    background-color: #0B0223;
}

.footer_content {
    width: 1350px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
}

.logo_text{
    display: flex;
    justify-content: center;
}

.logo_text h1 {
    color: #fff;
}

.logo_text span {
    color: #FF42A5;
}

.list_items ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list_items ul li {
    padding: 10px;
    list-style: none;
}

.list_items ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 36px;
    font-size: 20px;
}

.list_items_next ul {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.list_items_next ul li {
    list-style: none;
}

.list_items_next ul li a {
    text-decoration: none;
    color: #ddd;
    margin-left: 70px;
    font-weight: 400;
}

.footer_icons i{
    font-size: 40px;
    color: #fff;
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

}

.footer_content .footer_cr {
    color: #ddd;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* Responsive Header */
@media screen and (max-width:576px){
    .navber{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    .header_wrapper .header_content{
        max-width: 100%;
    }
}
    
